<div class="container">
  <h1>Portafolio</h1>
  <h1 class="text-center">Proyectos en HTML/CSS</h1>
  
  <div class="row justify-content-around"> 

      <div class="card col-2 my-4" style="width: 18rem;">
        <%=image_tag("oliviaros.jpg")%>
        <div class="card-body">
          <h5 class="card-title">Olivia Ros</h5>
          <p class="card-text">Utilizando Imagen como Fondo</p>
          <a href="https://github.com/yeseniau/portafoliocurso/tree/master/proyectos" class="btn boton">Ver m치s</a>
        </div>
      </div>

      <div class="card col-2 my-4" style="width: 18rem;">
        <%=image_tag("ricomida.jpg")%>
        <div class="card-body">
          <h5 class="card-title">Ricomida</h5>
          <p class="card-text">Aplicando JavaScrip</p>
          <a href="https://github.com/yeseniau/portafoliocurso/tree/master/proyectos" class="btn boton">Ver m치s</a>
        </div>
      </div>

  </div>
    
  <div class="row justify-content-around">

      <div class="card col-2 my-4" style="width: 18rem;">
        <%=image_tag("suricata.jpg")%>
        <div class="card-body">
          <h5 class="card-title">Suricata</h5>
          <p class="card-text">Landing Page</p>
          <a href="https://github.com/yeseniau/portafoliocurso/tree/master/proyectos" class="btn boton">Ver m치s</a>
        </div>
      </div>
    
      <div class="card col-2 my-4" style="width: 18rem;">
        <%=image_tag("viajeschile.jpg")%>
        <div class="card-body">
          <h5 class="card-title">Viajes Chile</h5>
          <p class="card-text">Menu Trasnparente</p>
          <a href="https://github.com/yeseniau/ViajesChile" class="btn boton">Ver m치s</a>
        </div>
      </div>

  </div>

</div>